<div class="container">
    <div class="row">
        <div class="content col-md-4">
            <img src="assets/images/hg.jpg" class="img-fluid">
            <div class="min-content">
                <h1 class="text-white mahmoud">first content</h1>
                <p class="text-white par">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="content col-md-4">
            <img src="assets/images/ima.jpg" class="img-fluid">
            <div class="min-content">
                <h1 class="text-white mahmoud">second content</h1>
                <p class="text-white par">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="content col-md-4">
            <img src="assets/images/im.jfif" class="img-fluid">
            <div class="min-content">
                <h1 class="text-white mahmoud">third content</h1>
                <p class="text-white par">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>

<!--portofolio-->
<div class="container">
    <div class="row p-5">
        <div class="col-md-6 pp m-auto">
            <img src="assets/images/9.jpg" class="img-fluid">
        </div>
    </div>
</div>

<div class="container">
    <div class="row p-5">
        <div class="col-md-4 mm">
            <img src="assets/images/9.jpg" class="img-fluid">

        </div>
        <div class="col-md-4 mm">
            <img src="assets/images/10.jpg" class="img-fluid">
        </div>
        <div class="col-md-4 mm">
            <img src="assets/images/11.jpg" class="img-fluid">
        </div>
    </div>
</div>
