<nav class="py-3">
   
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-2">
                <img src="assets/images/logo.png" class="img-fluid"/>
            </div>

            <div class="col-md-8">

                <ul class="list-unstyled d-flex justify-content-around">
                    <li>
                        <a routerLink='home'>HOME</a>
                    </li>
                    <li>
                        <a routerLink='tv'>TV</a>
                    </li>
                    <li>
                        <a routerLink='contacts'>CONTACTS</a>
                    </li>
                    <li>
                        <a routerLink='reviews'>REVIEWS</a>
                    </li>
                    <li>
                        <a routerLink='about'>ABOUT</a>
                    </li>
                </ul>
            </div>

            <div class="d col-md-2 text-white d-flex justify-content-around">

               <i class="fab fa-facebook fa-2x"></i>
               <i class="fab fa-twitter fa-2x"></i>
               <i class="fab fa-instagram fa-2x"></i>
               <i class="fab fa-linkedin fa-2x"></i>
            </div>
        </div>
        <br>
       
    </div>
</nav>