$fontFamily:'Montserrat', sans-serif;
$borderHeight:1px;
$mainWidth:400px;
$fontSize:16px;
$bgColor:#131722;
$lightBgColor:#24baef;
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

body
{
    background-color: $bgColor;
    font-family: $fontFamily;
    font-size: $fontSize;
}
a
{
    color: $fontColor;
     text-decoration: underline;
}
.vote
{
    background-color: $lightBgColor;
    color: $fontColor;
    padding: 8px;
    font-weight: 700;
    position: absolute;
    top: 0;
    right: 10px;
}

.brdr
{
    height: $borderHeight;
    background-color: $borderColor;
}
